:host {
    display: table-row;
}

.align-top {
    vertical-align: middle;
}

.checkbox-cell {
    text-align: center !important;
}

.checkbox-cell lightning-input {
    display: flex;
    justify-content: center;
}

textarea {
    overflow: hidden; /* hides both vertical and horizontal scrollbars */
}